body{
background:#050505;
color:white;
font-family:Arial;
text-align:center;
margin:0;
}

header{
padding:30px;
}

.logo{
width:180px;
}

.kartal{
width:300px;
margin-bottom:20px;
}

.login-body{
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

.login-box{
background:#111;
padding:30px;
border-radius:15px;
}

input{
padding:10px;
margin:10px;
width:250px;
}

button{
padding:10px 20px;
background:white;
color:black;
border:none;
cursor:pointer;
font-weight:bold;
}

button:hover{
transform:scale(1.05);
}

#counter{
font-size:30px;
font-weight:bold;
}

#card{
width:350px;
margin:auto;
padding:20px;
background:white;
color:black;
border-radius:15px;
}

.card-logo{
width:100px;
}

#preview{
width:150px;
height:150px;
object-fit:cover;
margin-top:10px;
}
